.top-header-nav {
  position: fixed;
  z-index: 5px;
  background-color: rgba(250, 250, 255, 0.7);
}
.navbar{
  box-shadow:0 0 5px 0 black;
}
.dropdown-menu.show{
  border:none;
  background-color: rgba(250, 250, 255, 0);
  padding:0;
}
.nav-link-tag{
  display:block;
  color: #00000080;
}
.nav-link-tag:hover{
  color: #000000E6;
  text-decoration: none;
}
.navbar-brand img{
  width:300px;
}
@media only screen and (max-width: 750px) {
  .navbar-brand img{
    width:200px;
  }
}