<h5 id="target_latitude"></h5>
<div id='map'></div>

<style>
#map {
  height:300px;
  width:60%;
  border:1px solid black;
  margin:0 auto 10px;
}
</style>

<script type="text/javascript">
let map
let geocoder
let marker
let lat
let lng

function initMap(){
  geocoder = new google.maps.Geocoder()
  if(gon.post.latitude == null ) {
    map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.05826, lng:137.37793},
    zoom: 8,
  })
  }else{
    var test ={lat: gon.post.latitude, lng: gon.post.longitude }
    map = new google.maps.Map(document.getElementById('map'), {
    center: test,
    zoom: 12
      })
        marker = new google.maps.Marker({
        map: map,
        position: test
        })
  }
}
</script>
<h5>釣果地図</h5>
<h6>※ピンが立っていない場合はMAPが未設定です</h6>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCde3KY2hbZ5Gm81547Py4n3QojS7-kUYA&callback=initMap" async defer></script>