<%= render "shared/header" %>
<div class="registration-main">
  <div class='fish-new-wrap'>
    <div class='fish-new-header'>
      <h1 class='fish-new-header-text'>釣果情報編集</h1>
      <%= render 'shared/form' %>
    </div>
  </div>
</div>

<%= render "/shared/footer" %>