.post-index{
  background-image: url("../fishes.png");
  background-size: cover;
  padding:50px 0 50px;;
}
.post-index-text-box{
  text-align: center;
}
.post-index-text{
  display: inline-block;
  border-bottom:2px solid rgb(33, 33, 201);
  font-weight: bold;
  margin:auto;
  margin-bottom:30px;
}
.post-index-fish{
  width:80%;
  margin:auto;
  padding-top:30px;
  background-color:rgb(240,255,255);
  border:1px solid black;
  min-height:400px;
}
.post-index-paginate{
  margin:auto;
  text-align:center;
}
.post-index-fish-indiv{
  width:90%;
  margin:auto;
}
.index-fish-indiv{
  border:1px solid black;
  width:90%;
  margin:0 auto 30px;
}
.index-fish-indiv-text{
  padding: 5px;
}
.index-fish-image-box{
  max-width:100%;
  width:100%;
  height:auto;
  position:relative;
  border-bottom:1px solid black;
  background-color:white;
  &::before{
    content:"";
    display:block;
    padding-top:100%;
  }
}
.index-fish-image{
  width:99%;
  height:100%;
  object-fit: contain;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.index-user-image{
  width:22px;
  height:22px;
  border-radius:50%;
  position:center center;
  margin:auto;
  margin-right:5px;
}
.index-user-profile{
  display:flex;
}
.index-user-nickname{
  margin:auto 0;
}
.post-index-fish-link {
  color:gray;
}
.post-index-fish-link:hover{
  color:black;
  text-decoration: none;
}