.fish-new-wrap{
  background-color: rgb(255,255,255);
  width: 60%;
  min-width: 400px;;
  margin: 0 auto;
  padding:50px 0;
  text-align:center;
  box-shadow: 2px 3px 3px 2px lightgray;
  border-radius:10px;
}
.fish-new-header{
  margin:auto;
  text-align:center;
  width:80%;
}
.fish-new-header-text{
  font-size:36px;
  color:rgba(0,0,0,0.8);
  text-shadow: 0 1px 1px gray;
}
.fish-new-group{
  margin-top:20px;
}
.indispensable{
  padding:2px;
  background-color: red;
  color:white;
  margin-left:5px;
}
.any{
  padding:2px;
  background-color: gray;
  color:white;
  margin-left:5px;
}
.fish-new-text-wrap{
  font-size:20px;
}
.fish-input{
  width: 60%;
  height: 50px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}
.fish-prev-image{
  max-width:500px;
  width:100%;
  height:auto;
  border:2px solid black;
  border-radius: 5px;
  margin-top:20px;
}
.fish-date{
  width:80%;
  display:flex;
  justify-content: space-evenly;
  margin:auto;
}
.fish-triple-input{
  width:100%;
  height: 50px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}
.fish-input-big{
  width: 70%;
  height: 200px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}
.fish-new-red-btn {
  width: 60%;
  background: red;
  border-radius: 5px;
  color: white;
  line-height: 48px;
  font-size: 16px;
  cursor: pointer;
  margin-top:30px;
}
.map-text{
  font-size:20px;
  margin:20px auto 10px;
}
.map_address_form{
  resize:none;
  height:30px;
  width:80%;
  margin:0 auto 10px;
}
