.post-show-main{
  width:100%;
  background-color: #E8F0FE;
  margin:auto;
  padding:100px 0 ;
}
.post-show-inner{
  background-color: rgba(255,255,255, 0.9);
  width:60%;
  min-width: 750px;
  margin: 0 auto;
  padding:10px 0;
  text-align:center;
  box-shadow: 2px 3px 3px 2px lightgray;
  border-radius:10px;
}
.post-show-edit{
  text-align:right;
  padding-right:10px;
}
.post-show-edit-btn{
  margin-right:20px;
  text-align:center;
  display:inline-block;
  width: 100px;
  background-color: rgba(0,185,0, 0.8);
  border:1px solid lightgray;
  border-radius: 5px;
  color: #ffffff;
  line-height: 50px;
  font-size: 16px;
  cursor: pointer;
}
.post-show-edit-btn:hover{
  text-decoration:none;
  color:#ffffff;
  background-color: rgba(0,185,0, 1);
  transition:0.5s
}
.post-show-destroy-btn{
  text-align:center;
  display:inline-block;
  width: 100px;
  background-color: rgba(185,0,0, 0.8);
  border:1px solid lightgray;
  border-radius: 5px;
  color: #ffffff;
  line-height: 50px;
  font-size: 16px;
  cursor: pointer;
}
.post-show-destroy-btn:hover{
  text-decoration:none;
  color:#ffffff;
  background-color: rgba(185,0,0, 1);
  transition:0.5s
}
.post-show-heading{
  font-size:36px;
  padding-top:30px;
  font-family: serif;
  text-shadow: 0 1px 1px gray;
}
.post-show-flex{
  display:flex;
  width:100%;
  padding-top:50px;
}
.post-show-flex-2{
  display:flex;
  width:100%;
  padding-top:30px;
  margin-bottom:50px;
}
.post-show-wrapper{
  width:100%;
  min-width: 300px;
  margin:0 auto;
}
.mapmap{
  width:100%;
}
.post-show-right{
  width:45%;
  margin:0 auto;
}
.post-show-left{
  width:55%;
  margin:0 auto;
}
.post-show-left-box{
  width:100%;
}
.post-show-left-image{
  margin:0 auto;
  width:250px;
  height:auto;
border:1px solid black;
border-radius:10px;
background-color:white;
}
.post-show-page-profile{
    width: 100%;
    min-height: 200px;
    margin:10px auto 0;
    padding: 10px 16px 8px;
    text-align: left;;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #E8F0FE;
    font-size: 16px;
    resize: none;
    word-break:break-all;
    word-wrap:break-word;
}
.table-text{
  margin-bottom:20px;
  text-align:left;
  font-family:serif;
  text-shadow: 0 1px 1px gray;
  box-shadow: 0 3px 0 gray;
  width: 90%;
}
.map-text{
  width:80%;
  margin:0 auto;
}
.table-text-small{
width: 100%;
}
.post-show-table-fish{
  margin-bottom:50px;
}
.post-show-link-table a{
  color:gray;
}
.post-show-link-table a:hover{
  color:black;
  text-decoration: none;
}
.post-show-page-wrapper{
  margin:auto;
  width:70%;
  margin-bottom:50px;
}
.post-show-page-heading{
  text-align:left;
  font-size: 30px;
  padding-bottom:10px;
  font-family: serif;
  text-shadow: 0 1px 1px gray;
}
.post-show-comment-form{
  width: 70%;
  margin: 0 auto;
}
.post-show-comment-box{
  width:100%;
  margin:auto;
  padding:15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #E8F0FE;
  font-size: 16px;
  resize: none;
}
.post-show-comment-time{
  text-align: left;
}
.post-show-comment-double{
  width:100%;
  display:flex;
  margin:auto;
}
.post-show-comment-name{
  width:20%;
  min-width:60px;
  border-bottom:1px solid black;
  text-align: left;
}
.comment-name{
  color:gray;
}
.comment-name:hover{
  color:black;
  text-decoration: none;
}
.post-show-comment-text{
  text-align:left;
  width:80%;
  border-bottom:1px solid black;
  word-break:break-all;
  word-wrap:break-word;
}
.post-show-comment-area{
  padding-top:50px;
  margin:auto;
  width:100%;
}
.comment-area{
  width: 100%;
  height:50px;
  line-height:48px;
  padding-left:10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #E8F0FE;
  font-size: 16px;
  resize: none;
}
.post-show-comment-btn{
  padding-top:20px;
  display:inline-block;
  width:100%;
  text-align:center;
}
.comment-btn{
  width: 50%;
  background: #0068b6;
  border-radius: 5px;
  color: white;
  line-height: 50px;
  font-size: 16px;
  font-family: serif;
  cursor: pointer;
  border:1px solid lightgray;
}
.comment-btn:hover{
  background-color: #064da0;
  transition:0.5s;
}
@media only screen and(max-width:768px){
  .post-show-inner{
    min-width: 350px;
    text-align: center;
  }
  .post-show-heading{
    font-size: 24px;
  }
  .post-show-flex{
    display:block;
  }
  .post-show-flex-2{
    flex-direction:column-reverse;
    padding-top:0px;
  }
  .post-show-left{
    width: 100%;
    margin:0 auto;
  }
  .post-show-right{
    width:80%;
    padding-top:20px;
  }
  .post-show-table-fish{
    margin-bottom:0px;
  }
  .map-text{
    margin-top:20px;
  }
  .post-show-page-heading{
    text-align:center;
  }
}