// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-main{
  width:100%;
  background-image: url("../fishes2.png");
  background-size: cover;
  margin:auto;
}
.user-inner{
  width:85%;
  margin:auto;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid black;
}
.user-edit{
  text-align:right;
}
.user-edit-btn{
  text-align:center;
  display:inline-block;
  width: 100px;
  background-color: rgba(255,255,255,0.5);
  border: 2px solid black;
  border-radius: 5px;
  color: gray;
  line-height: 50px;
  font-size: 16px;
  cursor: pointer;
}
.user-edit-btn:hover{
  text-decoration:none;
  color:black;
  background-color: lightgray;
  transition:all;
}
.user-wrapper{
  padding:30px 0;
  width:80%;
  margin:auto;
}
.user-page-heading{
  text-align:center;
  height:30px;
  line-height:30px;
}

.user-flex{
  display:flex;
  width:100%;
  padding-top:30px;
}
.user-left{
  width:50%;
  text-align:center;
}
.user-right{
  width:50%;
}
.user-left-box{
  max-width:60%;
  width:100%;
  height:auto;
  position:relative;
  border: 5px solid lightgray;
  border-radius:25px;
  background-color:white;
  &::before{
    content:"";
    display:block;
    padding-top:100%;
  }
}
.left-image{
  width:100%;
  height:100%;
  object-fit: contain;
  border-radius:20px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.table-col1{
  width:40%;
}
.page-wrapper{
  margin:auto;
  width:70%;
  margin-bottom:50px;
}
.page-profile{
  width:100%;
  min-height:150px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
  box-sizing: border-box;
}
.register-btn-flex{
  display: flex;
  justify-content: space-around;
  }
.register-gray-btn {
  display:inline-block;
  width: 80%;
  background: lightgray;
  border: 2px solid gray;
  border-radius: 5px;
  color: white;
  line-height: 50px;
  font-size: 16px;
  cursor: pointer;
}
.fish-list-text-box{
  text-align: center;
}
.fish-list-text{
    display:inline-block;
    border-bottom:2px solid rgb(33, 33, 201);
    font-weight: bold;
    margin:auto;
    margin-bottom:30px;
}